In [4]:
import pandas as pd

In [5]:
df_name = pd.read_csv('Resources/Body_Bark_Top_24_.csv')

In [6]:
df_name

    boutique_id                      boutique_name  ranking
0           248                    Stuarts Apparel        1
1           215  Sierra Trading Post - Multi Store        2
2           174        Neiman Marcus - Multi Store        3
3           124            Julian Gold San Antonio        4
4            62                   Devon's Boutique        5
5           108                       I. C. London        6
6           282                         Underwraps        7
7            15            B. Real Women's Apparel        8
8            87                               Gaia        9
9           148             Luna Boutique (Closed)       10
10          225                         Stein Mart       11
11          265                    The Garden Room       12
12           82     French Cuff Boutique - Woodway       13
13           25                  Bill Paul Limited       14
14          180                       Over the Top       15
15           74                         Excellence       16
16          182                     Parker Panache       17
17          296                         Wil Stiles       18
18          155                             Mariel       19
19          253               Sylene of Washington       20
20           21               Bellagio Art to Wear       21
21          142                          Lindisima       22
22          116                Inverness Golf Shop       23
23          100            Harriet's San Francisco       24

In [7]:
df_name.to_csv('output/Top_Boutiques.csv', index = False)